* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
}

body {
  background-color: #ccc;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  height: 2000px;
}
.testimonial .card {
  padding: 1rem;
}
.testimonial .card img {
  width: 100%;
  height: 15rem;
}
.regis {
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  margin-right: 1rem;
}
.login {
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  margin-right: 1rem;
}
@media only screen and (max-width: 1000px) {
  /* body {
    background-color: red;
  } */
  .regis {
    display: block;
    font-weight: normal;
    margin-bottom: 0.6rem;
  }
  .login {
    margin-bottom: 0.5rem;
  }
}
/* atur responsif */
/* kurang dari leptop */
@media only screen and (max-width: 1200px) {
}
/* responsif tablet */

@media only screen and (max-width: 768px) {
}
