<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>index</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />

    <!-- link font poppin -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Poppins:wght@100;200;400;700&display=swap"
      rel="stylesheet" />
    <!-- link font poppin akhir -->

    <!-- link icon bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../assets/css/detailProjek.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img src="../assets/imgs/brandred.png" width="60" alt=""
        /></a>
        <button
          class="navbar-toggler text-center"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse fw-bold"
          id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="myprojek.html">add Projek</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="testimonial.html">testimonial</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <button type="button" class="btn btn-dark">
              <a href="contak.html" class="text-decoration-none text-light"
                >Contak me</a
              >
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- navbar akhir -->

    <h1 class="title">Dumbways web APP</h1>

    <div class="contener">
      <div class="img-hero">
        <img
          src="../assets/imgs/t-syarifudin-budiana-uD43wYbmW_M-unsplash.jpg"
          alt="" />
      </div>
      <div class="conten">
        <h2>duration</h2>
        <div class="duration">
          <img src="../assets/imgs/calendar.png" alt="" />
          <span>12 jan 2021 - 11 feb 2021</span>
        </div>
        <div class="duration">
          <img src="../assets/imgs/jam.png" alt="" />
          <span>1 month</span>
        </div>
        <h2 class="tech">Technologies</h2>
        <div class="icon">
          <img src="../assets/imgs/nodejs.png" alt="" />
          <p>next js</p>

          <img src="../assets/imgs/nextjs.png" class="icon2" alt="" />
          <p>java script</p>
        </div>
        <div class="icon">
          <img src="../assets/imgs/reacjs.png" alt="" />
          <p>react js</p>
          <img src="../assets/imgs/typejs.png" class="icon3" alt="" />
          <p>type code</p>
        </div>
      </div>
    </div>

    <div class="text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iste,
        nam exercitationem dicta excepturi possimus placeat ratione dolores
        tempore soluta? Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Molestiae aperiam quibusdam esse? Ipsam quas, itaque dolorem iste
        deleniti harum eveniet mollitia obcaecati quidem beatae alias numquam
        laboriosam dolores temporibus ipsa error cum quis sed sapiente quibusdam
        dignissimos! Esse iste similique nihil reiciendis, provident nostrum
        fugit ab quisquam, molestiae molestias ullam.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
        porro ab quidem nam voluptates dolore iusto dolor quis officia aliquam
        magni expedita recusandae quasi repudiandae qui, culpa, minus in,
        consequuntur impedit vero tempore id omnis. Placeat, quidem facilis
        dolores neque consequuntur esse impedit nobis possimus ratione
        voluptatum laboriosam consectetur in ipsa totam reprehenderit itaque
        dicta nihil delectus quod minus fugiat nulla? Fuga, consectetur! Amet,
        quod corporis! Amet animi ea minus nobis magni impedit natus tenetur
        placeat. Qui ipsam quisquam magni, impedit dolore harum aspernatur culpa
        dolorum obcaecati est, ipsum blanditiis facere velit laboriosam aliquam
        veniam deserunt possimus? Minima quo dolores, perferendis accusantium
        necessitatibus animi ex autem id voluptate ipsum natus laudantium nobis
        aperiam sint omnis a nulla reiciendis rerum deleniti quaerat tempore
        totam ut suscipit? Ipsum sint assumenda rerum eius ipsa illo sequi
        inventore, exercitationem dicta velit minima mollitia obcaecati at
        repellat eaque unde ipsam expedita illum. Voluptatem praesentium
        blanditiis dolorum a doloribus ratione officia repellendus odio. Porro
        odio necessitatibus praesentium natus adipisci at voluptatem facilis
        officia quos, ad accusamus sit ex dolores officiis doloremque omnis
        cupiditate nulla vitae illum magnam magni culpa! Aspernatur,
        perspiciatis culpa. Voluptates tenetur doloribus nihil aliquam,
        veritatis dolore unde, eveniet quos debitis a quia facilis. Quo odio
        eveniet odit expedita, facere ipsam voluptatem a sit assumenda. Nulla
        nesciunt nam, nemo sunt reprehenderit accusantium laboriosam beatae
        recusandae dolores suscipit totam tempore vitae facere ipsam! Recusandae
        odit praesentium soluta asperiores similique. Vitae corporis suscipit,
        sapiente autem ipsam consectetur nemo ab quo nisi officiis. Ipsum,
        tenetur labore obcaecati sed accusamus impedit! Ducimus amet et
        assumenda sit dolore unde, cumque minus nulla voluptate eos placeat
        tenetur sequi enim? Atque aspernatur accusantium aliquid expedita cum
        mollitia tenetur eius modi sequi nesciunt doloremque dignissimos culpa
        nobis reiciendis distinctio a alias hic cumque obcaecati, ratione eos
        vel architecto provident facere. Dolore, optio!
      </p>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  </body>
</html>
