* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #ccc;
  text-transform: capitalize;
  font-family: sans-serif;
}

#home .dow {
  text-decoration: none;
  color: #000;
  margin-left: 1rem;
  font-size: 1.2rem;
}
#home .conten p {
  width: 90%;
  font-size: 0.9rem;
}

.container .icon img {
  width: 2.7rem;
  height: 2.7rem;
}
.icon .do {
  margin-left: 2.2rem;
}
#home .card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-projek {
  padding-bottom: 2rem;
  background-color: #fff;
}
.card-projek .card img {
  width: 100%;
  height: 19rem;
}
.card-projek .durasi {
  font-size: 1rem;
  font-weight;  
  color: #cebebe;
}
.card-projek a {
  text-decoration: none;
  color: #000;
}
.icon {
  display: flex;
}
.card-projek .icon .img-icon {
  width: 2rem;
  height: 2rem;
  
  margin-top: -5px;
}
.addnew {
  width: 9rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  border-radius: 3px;
  background-color: orangered;
  color: #fff;
  border: 1px solid orangered;
}
