<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Add Projek</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/css/projek.css" />
    <!-- link font poppin -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Poppins:wght@100;200;400;700&display=swap"
      rel="stylesheet"
    />
    <!-- link font poppin akhir -->
    <!-- link icon bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- link icon bootstrap akhir -->
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#"><img
            src="/assets/imgs/brandred.png"
            width="60"
            alt=""
          /></a>
        <button
          class="navbar-toggler text-center"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse fw-bold"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/home"
              >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/myprojek">add Projek</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/testimonial">testimonial</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <button
              type="button"
              class="btn btn-dark"
              style="background-color: orangered !important;border: 1px solid orangered"
            >
              <a href="/contak" class="text-decoration-none text-light">Contak
                me</a>
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- navbar akhir -->

    <!-- form projek -->
    <section id="projek">
      <div class="container">
        <bs5-grid-row class="text-center">
          <col>
            <h2 class="mt-md-5 fw-bold text-center">add my project</h2>
          </col>
        </bs5-grid-row>
        <div
          class="row justify-content-center align-items-center g-2 mb-3 mt-3"
        >
          <div class="col-md-7">
            <form method="post" action="/myprojek">
              <div class="mb-3">
                <label for="projekname" class="form-label">Projek name :</label>
                <input
                  type="text"
                  name="projekName"
                  class="form-control shadow-sm"
                  id="projekname"
                  aria-describedby="projekname"
                />
              </div>

              <div class="row justify-content-center align-items-center g-2">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="starProjek" class="form-label">star date :</label>
                    <input
                      type="date"
                      name="starDate"
                      class="form-control shadow-sm"
                      id="starProjek"
                      aria-describedby="starProjek"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="endProjek" class="form-label">end date :</label>
                    <input
                      type="date"
                      name="endDate"
                      class="form-control shadow-sm"
                      id="endProjek"
                      aria-describedby="endProjek"
                    />
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="pesan" class="form-label">Description :</label>
                <textarea
                  class="form-control"
                  name="pesan"
                  id="pesan"
                  rows="6"
                ></textarea>
              </div>
              <label for="techno" class="label">Technologies :</label>
  
              <div class="techno">
                <div class="star-techno-conten">
                  <input
                    type="checkbox"
                    name="nodeJs"
                    value="true"
                    id="nodejs"
                    class="tech"
                  />
                  <span>node js</span>

                  <input
                    type="checkbox"
                    name="nextJs"
                    value="true"
                    id="nextjs"
                    class="tech-k"
                  />
                  <span class="span-k">next JS</span>
                </div>

                <div class="end-techno">
                  <input
                    type="checkbox"
                    name="reactJs"
                    value="true"
                    class="tech"
                    id="reacjs"
                  />
                  <span class="span-n">react JS</span>

                  <input
                    type="checkbox"
                    name="typescript"
                    value="true"
                    id="typejs"
                    class="tech-k"
                  />
                  <span class="span-k">type JS</span>
                </div>
              </div>
              <div class="mb-3 mt-2">
                <label for="formFile" class="form-label">upload file</label>
                <input class="form-control" type="file" id="formFile" />
              </div>

              <button id="but" type="submit" class="btn btn-dark mt-3">Post Projek</button>
            </form>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#ffffff"
          fill-opacity="1"
          d="M0,192L40,176C80,160,160,128,240,112C320,96,400,96,480,112C560,128,640,160,720,165.3C800,171,880,149,960,154.7C1040,160,1120,192,1200,197.3C1280,203,1360,181,1400,170.7L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
        ></path>
      </svg>
    </section>
    <!-- form projek akhir -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    {{! <script src="/assets/js/projek.js"></script> }}
  </body>
</html>