<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link font poppin -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Poppins:wght@100;200;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/404.css" />
    <!-- link font poppin akhir -->
    <title>404</title>

  </head>
  <body>
    <div class="contener">
      <img src="../assets/imgs/error.jpeg" alt="" />
      <h1>404</h1>
      <p>Maaf, halaman tersebut tidak dapat di temukan</p>

      <a href="/home">ke beranda</a>
    </div>
  </body>
</html>